html
  head
    body
      h3 Вклад #{deposit.name}
      div
        div Процентная ставка: #{deposit.percent}
        div Срок вклада от #{deposit.minTerm} до #{deposit.maxTerm}
        div Сумма вклада от #{deposit.minAmount} до #{deposit.maxAmount}
        div Тип процентов: #{deposit.typeOfPercent}
        div Валюта вклада: #{deposit.currency}
